<!DOCTYPE html>
<html>
  <head>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    
    <title>Snippets</title>
  </head>

  <body>
    <div id="top_content">
      Drop an mp3 anywhere on the page
    </div>
    <form id='fileupload'> </form>

    <div id='beat_container'>
    <script type="text/template" id="beat_template">
    </script>
  </div>

    {% assets "coffee_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
